<mat-card class="p-0">
  <table mat-table *ngIf="users$|async as users; else loading" [dataSource]="users">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let user">{{user.id}}</td>
    </ng-container>
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Username</th>
      <td mat-cell *matCellDef="let user">{{user.username}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{user.email}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{user|name}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['id', 'username', 'email', 'name']"></tr>
    <tr mat-row *matRowDef="let data; columns: ['id', 'username', 'email', 'name']"></tr>
  </table>

  <ng-template #loading>
    <mat-spinner class="m-auto"></mat-spinner>
  </ng-template>
</mat-card>
