@import '~@angular/material/theming';

$app-primary: mat-palette($mat-light-green);
$app-accent: mat-palette($mat-amber);
$app-theme: mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);
